<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Добавления файла в чат</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5">
            <form method="POST" enctype="multipart/form-data" action="add_photo">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile">Выбрать файл</label>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Опубликовать</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>