<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Чат</title>
    <link rel="icon" th:href="@{image/main_page/icon_chats.png}">
    <link rel="stylesheet" th:href="@{/chat_websocket/css/main.css}" />
    <link rel="stylesheet" th:href="@{user/main_page.css}">
    <link rel="stylesheet" th:href="@{user/main_page/main_page.css}">
</head>

<body>
    <div class="header" id="header">
        <div class="info_user">
            <div class="min_size_window"></div>
            <div class="image_profile"></div>
            <div class="status"></div>
            <div class="username_div">
                <p class="username" th:text="${username}"></p>
                <div class="btn_up"></div>
            </div>
        </div>

        <div class="links">
            <a href="/" class="link withOutSlash">
                <div class="home_icon"></div>
                <div class="name_link">Дом</div>
            </a>

            <div class="link start_page">
                <div class="this_page"></div>
                <div class="icon_chats"></div>
                <div class="name_link chat_link">Чаты</div>
            </div>

            <a href="/rings" class="link withOutSlash">
                <div class="icon_rings"></div>
                <div class="name_link">Уведомления</div>
            </a>
        </div>

        <form class="delete_account" method="get" action="/logout">
            <input type="submit" class="btn_delete_account" value="Выйти из аккаунта">
        </form>
    </div>

    <div class="body body_js">
        <div class="burger_menu"></div>
        <div class="content">
            <div class="btn_create_chat">
                <div class="image_plus"></div>
            </div>

            <div class="ErrorConnect">Соединение...</div>

            <div class="window_find_chat">
                <label for="InputSearchChat" class="title_window">Поиск</label>

                <div class="form_search">
                    <input id="InputSearchChat" class="InputSearch" type="search" placeholder="Введите название чата">
                    <div class="btn_search"></div>
                </div>

                <div class="exists_query"></div>

                <div class="visible_more">Показать ещё</div>

                <div class="clear_history">Отчистить историю</div>

                <div class="list_found_chat"></div>
            </div>

            <div class="filter_div">
                <div class="filter_name a_i">А-Я</div>
                <div class="filter_name cancel_sort_a_i">Отменить сортировку</div>
                <div class="filter_name i_a">Я-А</div>
                <div class="filter_name cancel_sort_i_a">Отменить сортировку</div>
                <div class="filter_name time_sort">Время</div>
                <div class="filter_name cancel_time_sort">Отменить сортировку</div>
            </div>

            <div class="content_all_chat visible">
                <div class="list_chats"></div>
            </div>

            <div class="PermissionDenied">
                <div class="CloseWindowPermissionDenied"></div>
                <h1>Доступ запрещён</h1>
                <div class="BtnSendAccess">Запросить доступ</div>

                <div class="ListAccess"></div>
            </div>
        </div>
    </div>

    <div class="body_1 body_window_create_chat_div">
        <div class="close_window close_window_new"></div>

        <div class="window_create_chat">
            <div class="flex-group">
                <label class="label_create_chat" for="name_chat">Имя чата</label>
                <textarea placeholder="Придумайте название чата" class="name_chat name_chat_div" id="name_chat" required></textarea>
            </div>

            <div class="flex-group">
                <label class="label_create_chat" for="desc_chat">Описание чата</label>
                <textarea placeholder="Придумайте описание чата" class="name_chat desc_chat_1" id="desc_chat" required></textarea>
            </div>

            <div class="flex-group">
                <label class="label_create_chat">Пользователи чата</label>
                <div class="list_users"></div>
            </div>

            <input type="submit" class="create_chat" value="Создать чат">
        </div>
    </div>

    <script th:src="@{/chat_websocket/js/sockjs.js}"></script>
    <script th:src="@{/chat_websocket/js/stomp_min.js}"></script>
    <script th:src="@{/user/WebSocket/WebSocketPages.js}"></script>
    <script th:src="@{/chat_websocket/js/get_image_profile.js}"></script>
    <script th:src="@{chat_websocket/js/HomePage/script.js}"></script>
    <script th:src="@{/chat_websocket/js/create_chat.js}"></script>
    <script th:src="@{/chat_websocket/js/list_chats.js}"></script>
</body>
</html>