<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Чат</title>
    <link rel="icon" th:href="@{image/main_page/icon_chats.png}">
    <link rel="stylesheet" th:href="@{user/main_page.css}">
    <link rel="stylesheet" th:href="@{user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{/chat_websocket/css/main.css}" />
</head>

<body>
    <div class="header" id="header">
        <div class="info_user">
            <div class="min_size_window"></div>
            <div class="image_profile"></div>
            <div class="username_div">
                <p class="username" th:text="${username}"></p>
                <div class="btn_up"></div>
            </div>
        </div>

        <div class="links">
            <a href="/" class="link withOutSlash">
                <div class="home_icon"></div>
                <div class="name_link">Дом</div>
            </a>

            <div class="link start_page">
                <div class="this_page"></div>
                <div class="icon_chats"></div>
                <div class="name_link chat_link">Чаты</div>
            </div>

            <a href="/contacts" class="link withOutSlash">
                <div class="icon_contacts"></div>
                <div class="name_link">Контакты</div>
            </a>

            <a href="/rings" class="link withOutSlash">
                <div class="icon_rings"></div>
                <div class="name_link">Уведомления</div>
            </a>

            <a href="/calendar" class="link withOutSlash">
                <div class="icon_calendar"></div>
                <div class="name_link">Календарь</div>
            </a>

            <a href="/settings" class="link withOutSlash">
                <div class="icon_settings"></div>
                <div class="name_link">Настройки</div>
            </a>
        </div>

        <form class="delete_account" method="get" action="/logout">
            <input type="submit" class="btn_delete_account" value="Выйти из аккаунта">
        </form>
    </div>

    <div class="body body_js">
        <div class="burger_menu"></div>
        <div class="content">
            <div class="flex-content">
                <div class="label_page">Чаты</div>
                <div class="btn_create_chat">
                    <div class="image_plus"></div>
                    <div class="text_create_chat">Создать новый чат</div>
                </div>
            </div>

<!--            <input class="label_search" id="search" placeholder="Поиск...">-->

            <div class="buttons_nav_chats">
                <div class="btn_nav_chat all_chat">Все чаты</div>
                <div class="btn_nav_chat all_my_chat">Мои чаты</div>
            </div>

            <div class="content_all_chat visible">
                <h1>Все чаты</h1>
                <div class="list_chats"></div>
            </div>

            <div class="content_all_my_chat">
                <h1>Мои чаты</h1>
                <div class="list_my_chats"></div>

                <div class="window_edit_name_chat">
                    <h2>Изменение имени чата</h2>
                    <div class="input_change_name_chat"></div>
                    <div class="tools_edit_message">
                        <div class="btn_cancel_change_name_chat">Отмена</div>
                        <input type="button" value="Сохранить" class="btn_save_change_name">
                    </div>
                </div>
            </div>

            <div class="PermissionDenied">
                <div class="CloseWindowPermissionDenied"></div>
                <h1>Доступ запрещён</h1>
                <div class="BtnSendAccess">Запросить доступ</div>
            </div>
        </div>
    </div>

    <div class="body_1">
        <div class="close_window close_window_new"></div>

        <div class="window_create_chat">
            <div class="flex-group">
                <label class="label_create_chat" for="name_chat">Имя чата</label>
                <input type="text" placeholder="Придумайте название чата" class="name_chat name_chat_div" id="name_chat" required>
            </div>

            <div class="flex-group">
                <label class="label_create_chat" for="desc_chat">Описание чата</label>
                <input type="text" placeholder="Придумайте название чата" class="name_chat desc_chat_1" id="desc_chat" required>
            </div>

            <div class="flex-group">
                <label class="label_create_chat">Пользователи чата</label>
                <div class="list_users"></div>
            </div>

            <div class="flex-group">
                <p>Иконка будет по default её можно будет изменить в настройках чата</p>
                <div class="border_icon">
                    <div class="icon"></div>
                </div>
            </div>

            <input type="submit" class="create_chat" value="Создать чат">
        </div>
    </div>

    <script th:src="@{/chat_websocket/js/get_image_profile.js}"></script>
    <script th:src="@{chat_websocket/js/HomePage/script.js}"></script>
    <script th:src="@{/chat_websocket/js/create_chat.js}"></script>
    <script th:src="@{/chat_websocket/js/list_chats.js}"></script>
</body>
</html>