<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Чат</title>
    <link rel="stylesheet" th:href="@{/chat_websocket/css/main.css}" />
</head>
<body>
    <noscript>
        <h2>Sorry! Your browser doesn't support Javascript</h2>
    </noscript>

    <div id="username-page">
        <div class="list_all_chat">
            <div class="header">
                <a href="settings">Настройки</a>

                <a href="/">
                    <div class="info_user">
                        <p class="username" th:text="${username}"></p>
                        <div class="image_profile"></div>
                    </div>
                </a>
            </div>
            <div class="padding_header"></div>
            <div class="choose_header_chat"></div>
            <div class="option">Общий чат</div>
            <div class="all_users"></div>
        </div>
    <!--    <div class="close_window"></div>-->
        <div class="username-page-container">
            <div class="arrow_close"></div>
            <h1 class="title white_color">Введите своё имя пользователя</h1>
            <form id="usernameForm" name="usernameForm">
                <div class="form-group form-window-start">
                    <input type="text" id="name" placeholder="Имя пользователя" autocomplete="off" th:value="${username}" class="form-control" />
                </div>

                <div class="form-group form-window-start">
                    <button type="submit" class="accent username-submit">Чатиться</button>
                </div>
            </form>
        </div>
    </div>

    <div class="header">
        <a href="settings">Настройки</a>

        <a href="/">
            <div class="info_user">
                <p class="username" th:text="${username}"></p>
                <div class="image_profile"></div>
            </div>
        </a>
    </div>

    <div id="chat-page" class="hidden">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Общий чат</h2>
            </div>

            <div class="connecting">
                Соединение...
            </div>

            <ul id="messageArea">

            </ul>

            <form id="messageForm" enctype="multipart/form-data">
                <div class="form-group">
                    <form class="input-group clearfix" name="messageForm">
                        <input type="text" id="message" placeholder="Введите сообщение..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">Отправить</button>
                    </form>

                    <a href="add_photo" class="primary">Прикрепить фото</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/chat_websocket/js/main.js}"></script>
    <script th:src="@{/chat_websocket/js/get_image_profile.js}"></script>
</body>
</html>