.header {
    padding: 15px;
    color: #FFF;
    box-shadow: 0 0 10px;
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgba(42, 139, 242, 1.25);
}

.header p {
    height: 55px;
    font-weight: 800;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFF;
    margin: auto;
    text-align: center;
}

.login_div_flex, .password_div_flex, .repeatePassword_div_flex, .telephone_div_flex, .email_div_flex, .icon_upload_profile_div_flex, .form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.padding {
    padding-top: 100px;
}

.border {
    width: 300px;
    height: max-content;
    background: rgba(42, 139, 242, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.label_input {
    font-weight: 800;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

input, .send_icon_profile {
    width: 270px;
    height: 50px;
    background: rgba(42, 139, 242, 0.25);
    border: 1px solid rgba(42, 139, 242, 0.25);
    border-radius: 10px;
    padding-left: 10px;
}

.send_icon_profile {
    font-weight: 400;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    padding-left: 15px;
}

input::placeholder, input::-ms-value {
    height: 95px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    padding-left: 15px;
}

.form-control-file {
    display: none;
}

.registration_user {
    background: rgba(42, 139, 242, 0.25);
    border: 2px solid rgba(42, 139, 242, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    display: block;
    width: 300px;
    cursor: pointer;
}

.registration_user:hover {
    background: #FFF;
}

.info_auth {
    text-align: center;
}

.input_password, .login, .password, .repeat_password, .input_login {
    cursor: pointer;
}

.input_password:hover, .login:hover, .password:hover, .repeat_password:hover, .input_login:hover {
    box-shadow: 0 0 10px bisque;
}

label {
    width: max-content;
}

input {
    outline: none;
}

.icon_profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    gap: 15px;
    margin-top: 20px;
}

.warning {
    text-align: center;
}

@media (min-width: 700px) {
    .border {
        width: 700px;
    }

    input, .send_icon_profile {
        width: 650px;
    }

    .header p {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .border {
        width: 1000px;
    }

    input {
        width: 960px;
    }

    .send_icon_profile {
        width: 180px;
    }

    .header p {
        font-size: 20px;
    }
}