.header {
    padding: 15px;
    color: #FFF;
    box-shadow: 0 0 10px;
    position: fixed;
    width: 100%;
    background: black;
}

.padding {
    padding-top: 70px;
}

.login_div_flex, .password_div_flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label {
    color: #000;
    padding-bottom: 15px;
}

input {
    padding: 10px;
    border: 2px solid bisque;
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 10px navajowhite;
    color: #FFF;
}

.auth_btn {
    background: blue;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
}

.auth_btn:hover {
    box-shadow: none;
}

.info {
    padding: 10px;
}