.info {
    padding: 10px;
    text-align: center;
    line-height: 30px;
}

.header {
    padding: 15px 0;
    color: #FFF;
    box-shadow: 0 0 10px;
    position: fixed;
    width: 100%;
    height: max-content;
    background: rgba(42, 139, 242, 1.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header p {
    margin: 0;
}

.padding {
    padding-top: 120px;
}

.status_websocket_error {
    width: 51px;
    height: 52px;
    background: url("../image/ReloadBtn.png") no-repeat;
    background-size: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px blue;
    border-radius: 35px;
}

.status_websocket_error:hover {
    box-shadow: none;
}

.status_websocket_error:active {
    box-shadow: none;
}

.status_websocket_ok, .status_websocket_error {
    display: none;
}

.none {
    display: none;
}

.block {
    display: block;
}