<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title th:text="${UserNameAccount}"></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" th:href="@{/image/main_page/icon_contacts.png}">
    <link rel="stylesheet" th:href="@{/user/main_page.css}">
    <link rel="stylesheet" th:href="@{/user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{/user/AccountPage/style.css}">
</head>

<body>

    <div class="body_js">
        <div class="close_window"></div>

        <div class="height"></div>

        <div class="flex">
            <div class="ImageUser"></div>
        </div>

        <div class="flex">
            <p class="UserName" th:text="${UserNameAccount}"></p>
        </div>
    </div>

    <script th:src="@{/chat_websocket/js/sockjs.js}"></script>
    <script th:src="@{/chat_websocket/js/stomp_min.js}"></script>
    <script th:src="@{/user/WebSocket/WebSocketPages.js}"></script>
    <script th:src="@{/user/returnBack.js}"></script>
    <script th:src="@{/user/AccountPageChat/script.js}"></script>
</body>
</html>