<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Такого чата не существует</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="icon" th:href="@{/image/main_page/icon_chats.png}">
  <link rel="stylesheet" th:href="@{/user/main_page.css}">
  <link rel="stylesheet" th:href="@{/user/main_page/main_page.css}">
  <link rel="stylesheet" th:href="@{/chat_websocket/css/not_valid_chat_url.css}" />
</head>
<body>
<div class="NotValidUrl">Такого аккаунта не существует</div>
</body>
</html>