body {
    margin: 0;
    font-family: system-ui;
    background: #FFF;
}

.body_dark {
    background: black;
}

.ErrorConnect {
    display: none;
}

a {
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.text_button {
    text-align: center;
}

.no_auth {
    color: #000;
    padding: 15px;
    font-size: 20px;
    background: aliceblue;
    border: 2px solid bisque;
    border-radius: 10px;
    width: 252px;
    margin: auto;
}

.font_size_3, .font_size_4 {
    font-size: 25px;
}

.button {
    padding: 10px;
    background: aliceblue;
    border: 2px solid bisque;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    background: #FFF;
    color: black;
    box-shadow: 0 0 10px bisque;
}

.logo {
    display: block;
    padding: 10px;
    height: 180px;
    width: 180px;
    margin: 15px auto auto;
    background: url('../../image/icons8-m-key-100.png') no-repeat;
    background-size: 200px;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

input {
    border: none;
}

.status {
    width: 10px;
    height: 10px;
    background: #17ec13;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    top: -15px;
    left: 168px;
    display: none;
}

.status1 {
    width: max-content;
    padding: 10px;
    height: max-content;
    color: blue;
    margin: auto auto 20px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block {
    display: block;
}

@media (min-width: 768px) {
    .flex {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .logo {
        margin: 0;
        box-shadow: none;
    }

    .status1 {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}