<!DOCTYPE html>
<html lang="ru">
<head>
  <title th:text="${share_text}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<!--  <div class="ya-share2" data-curtain data-size="s" data-shape="round" data-limit="0" data-more-button-type="short" data-services="vkontakte,telegram,whatsapp"></div>-->
  <div class="ya-share2" data-curtain data-size="s" data-shape="round" data-limit="0" data-more-button-type="short" data-services="vkontakte,telegram,whatsapp"></div>
  <script src="https://yastatic.net/share2/share.js"></script>
<!--  <script th:src="@{user/share/share.js}"></script>-->
</body>
</html>