<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>В пароле нет достаточного количество символов</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{user/password_not_correct.css}">
    <link rel="stylesheet" th:href="@{user/scrollbar_register.css}">
</head>

<body>
    <h1>Пароль и повторение пароля меньше 8 символов</h1>

    <div class="flex_error">
        <div class="image_failed"></div>

        <div class="div_btn_return_back">
            <div>
                <div class="btn_return_back">Вернуться назад</div>
            </div>

            <a href="/registration">
                <div class="repeat_registration_new_data">Регистрация</div>
            </a>

            <a href="/login">
                <div class="repeat_authorization_new_data">Авторизация</div>
            </a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/user/WebSocket/WebSocketPages.js}"></script>
    <script th:src="@{user/password_not_correct.js}"></script>
</body>
</html>