<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" th:href="@{/image/main_page/icon_contacts.png}">
    <link rel="stylesheet" th:href="@{/user/main_page.css}">
    <link rel="stylesheet" th:href="@{/user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{/user/AccountPage/style.css}">
</head>

<body>
    <div class="body_js">
        <div class="close_window"></div>

        <div class="height"></div>

        <div class="flex">
            <div class="ImageUser"></div>

<!--            <div class="BtnUpdateImage">Обновить</div>-->
        </div>

        <div class="flex">
            <p class="UserName" th:text="${UserNameAccount}"></p>

            <div class="BtnEditUsername">Редактировать</div>
        </div>

        <div class="GroupYorOwn">
            <div class="list_my_chats"></div>
        </div>

        <div class="window_edit_chat">
            <div class="close_window_1"></div>
            <div class="FormEditUserName"></div>
        </div>

        <div class="window_edit_name_chat">
            <div class="btn_cancel_change_name_chat"></div>
            <div class="input_change_name_chat"></div>
            <div class="btn_save_change_name">Сохранить</div>
        </div>

        <form method="get" action="/logout">
            <input type="submit" class="btn_delete_account" value="Удалить аккаунт">
        </form>
    </div>

    <script th:src="@{/user/returnBack.js}"></script>
    <script th:src="@{/user/AccountPage/script.js}"></script>
    <script th:src="@{/user/AccountPage/YourOwnChatGroup.js}"></script>
</body>
</html>