h1 {
    width: max-content;
}

.body, .body_1 {
    padding: 10px;
    width: max-content;
    justify-content: space-between;
    margin: auto;
}

.contact {
    box-shadow: 0 0 10px aqua;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.contacts {
    margin-top: 30px;
    width: 270px;
    gap: 33px;
    display: flex;
    flex-direction: column;
}

.btn_send_message {
    margin-top: 10px;
    background: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid antiquewhite;
    width: max-content;
    padding-right: 11px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px antiquewhite;
}

.btn_send_message:hover {
    background: #FFF;
    box-shadow: none;
}

.btn_nav_contacts {
    display: flex;
    margin-top: 33px;
    justify-content: space-around;
    gap: 10px;
}

.btn_nav_contact {
    padding: 10px;
    background: beige;
    border: 2px solid bisque;
    border-radius: 10%;
    cursor: pointer;
}

.btn_nav_contact:hover {
    box-shadow: 0 0 10px bisque;
}

.btn_nav_contact_checked {
    box-shadow: 0 0 10px bisque;
}

.all_my_contacts, .all_contacts {
    display: none;
}

.close_window {
    width: 50px;
    height: 50px;
    background: url(".././image/main_page/open_min_window.png") no-repeat, #FFF;
    background-size: 50px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    border: 3px solid bisque;
    cursor: pointer;
    display: none;
}

.close_window:hover {
    box-shadow: none;
}

.chat_user_user {
    padding: 10px;
    display: none;
}

.tools {
    position: fixed;
    bottom: 0;
    display: flex;
    gap: 13px;
    align-items: center;
    background: azure;
    box-shadow: 0 0 10px aqua;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn_tools_chat {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: url("../chat_websocket/image/plus.png") no-repeat center, linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
}

#messageForm {
    align-items: center;
    display: flex;
    gap: 17px;
}

.input_message {
    border: 2px solid blanchedalmond;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px blanchedalmond;
    width: 120px;
}

.send_message {
    width: 30px;
    height: 30px;
    background: url("../chat_websocket/image/send_message.png") no-repeat center, linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
    background-size: 20px;
    padding: 5px;
    border-radius: 100%;
    border: none;
}

.smile {
    width: 24px;
    height: 24px;
    background: url("../chat_websocket/image/smile.png") no-repeat;
    background-size: 24px;
}

input {
    outline: none;
}

.max_size_window {
    display: none;
}

.visible {
    display: block;
}

.none {
    display: none;
}

@media (min-width: 768px) {
    .body, .body_1 {
        width: 700px;
    }

    .tools {
        width: 119vh;
        justify-content: space-between;
    }

    .max_size_window {
        display: block;
    }

    .tools {
        width: 94%;
    }

    #messageForm {
        align-items: center;
        display: flex;
        gap: 17px;
        width: 85%;
    }

    .input_message {
        border: 2px solid blanchedalmond;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px blanchedalmond;
        width: 90%;
    }

    .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .visible {
        display: block;
    }

    .none {
        display: none;
    }
}

@media (min-width: 1024px) {
    .body_1, .body {
        margin-left: 333px;
    }

    .body {
        width: 94vh;
        display: flex;
        justify-content: start;
    }

    .tools {
        width: 96%;
    }

    .contacts {
        width: 83%;
    }

    .none {
        display: none;
    }

    .visible {
        display: block;
    }
}

@media (min-width: 1440px) {
    .tools {
        width: 97%;
    }
}

@media (min-width: 2560px) {
    .tools {
        width: 98%;
    }
}

@media (min-width: 3680px) {
    .tools {
        width: 99%;
    }
}

@media (min-width: 4800px) {
    .tools {
        width: 100%;
    }
}