h1 {
    width: max-content;
}

.body, .body_1 {
    padding: 10px;
    width: 300px;
    display: block;
    justify-content: space-between;
    margin: auto;
}

.hello {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px auto 30px;
}

.btn_start_message {
    padding: 10px;
    background: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px aliceblue;
    text-align: center;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: blue;
}

.btn_start_message:hover, .calendar_btn:hover {
    background: #FFF;
    box-shadow: none;
}

.calendar_btn {
    padding: 10px;
    background: cornsilk;
    border: 2px solid cornsilk;
    border-radius: 10px;
    color: blue;
}

.UserName {
    cursor: pointer;
    text-decoration: 2px underline blue;
}

.UserName:hover {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block {
    display: block;
}

.none, .NoneCommandDev {
    display: none;
}

@media (min-width: 768px) {
    .body, .body_1 {
        padding: 10px;
        width: 600px;
        display: block;
        justify-content: space-between;
        margin: auto;
    }

    .hello {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        margin: auto;
    }

    .HelloHeaderOpen {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        margin: auto;
        text-align: left;
        justify-content: end;
        width: 665px;
        margin-left: -39px;
    }

    .hello {
        margin: 0;
    }

    .flex {
        flex-direction: row;
    }

    .BtnStartMessageBurgerOpened {
        display: flex;
        margin: auto;
        margin-left: 38vh;
    }

    .signboard {
        display: block;
    }

    .NoneBtn {
        display: block;
    }

    .FlexWidth {
        display: flex;
        width: 80vh;
        margin-left: 156px;
    }

    .NoneCommandDev {
        display: flex;
        margin: auto;
        margin-left: 38vh;
    }
}

@media (min-width: 1024px) {
    .body_1, .body {
        margin-left: 333px;
    }

    .HelloHeaderOpen {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        margin: auto;
        text-align: left;
        justify-content: end;
        width: 689px;
    }

    .FlexWidth {
        display: flex;
        margin-left: -200px;
    }

    .UserName:hover {
        text-decoration: 2px underline blue;
    }
}