h1 {
    padding: 10px;
    background: antiquewhite;
    margin: 0 auto 25px;
}

.btn_return_back, .repeat_registration_new_data, .repeat_authorization_new_data {
    padding: 10px;
    background: beige;
    border: 2px solid aquamarine;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn_return_back:hover, .repeat_registration_new_data:hover, .repeat_authorization_new_data:hover {
    border: 2px solid grey;
}

a {
    text-decoration: none;
    color: black;
}

.div_btn_return_back {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.image_failed {
    width: 260px;
    height: 260px;
    background: url("../image/image_failed.png") no-repeat;
    background-size: 260px;
    margin: auto auto 25px;
}

.flex_error {
    display: flex;
    flex-direction: column;
}

.image_success {
    width: 260px;
    height: 260px;
    background: url("../image/image_success.png") no-repeat;
    background-size: 260px;
    margin: auto auto 25px;
}

@media (min-width: 768px) {
    .div_btn_return_back {
        flex-direction: row;
        justify-content: center;
        overflow-x: scroll;
        padding: 10px 10px 10px 110px;
    }
}

@media (min-width: 969px) {
    .div_btn_return_back {
        overflow-x: auto;
        padding: 10px;
    }
}