/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 15px; /* ширина для вертикального scroll */
    height: 8px; /* высота для горизонтального scroll */
    background-color: #2a8bf2;
}

/* ползунок scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #2a8bf2;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2a8bf2;
}