<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{main_page.css}">
    <link rel="stylesheet" th:href="@{user/main_page.css}">
    <link rel="stylesheet" th:href="@{user/main_css.css}">
    <link rel="stylesheet" th:href="@{user/mini_calendar.css}">
    <link rel="icon" th:href="@{image/main_page/home_icon.png}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="min_size_window"></div>
        <div class="info_user">
            <div class="image_profile"></div>
            <div class="username_div">
                <p class="username" th:text="${username}"></p>
                <div class="btn_up"></div>
            </div>
        </div>

        <div class="links">
            <div class="link start_page">
                <div class="this_page"></div>
                <div class="home_icon"></div>
                <div class="name_link">Дом</div>
            </div>

            <a href="/websocket_chat" class="link withOutSlash">
                <div class="icon_chats"></div>
                <div class="name_link chat_link">Чаты</div>
            </a>

            <a href="/contacts" class="link withOutSlash">
                <div class="icon_contacts"></div>
                <div class="name_link">Контакты</div>
            </a>

            <a href="/rings" class="link withOutSlash">
                <div class="icon_rings"></div>
                <div class="name_link">Уведомления</div>
            </a>

            <a href="/calendar" class="link withOutSlash">
                <div class="icon_calendar"></div>
                <div class="name_link">Календарь</div>
            </a>

            <a href="/settings" class="link withOutSlash">
                <div class="icon_settings"></div>
                <div class="name_link">Настройки</div>
            </a>
        </div>

        <form class="delete_account" method="get" action="/logout">
            <input type="submit" class="btn_delete_account" value="Выйти из аккаунта">
        </form>
    </div>

    <div class="body">
        <div class="burger_menu"></div>

        <div class="flex">
            <div class="signboard outer">
                <div class="signboard front inner anim04c">
                    <li class="year anim04c">
                        <span></span>
                    </li>
                    <ul class="calendarMain anim04c">
                        <li class="month anim04c">
                            <span></span>
                        </li>
                        <li class="date anim04c">
                            <span></span>
                        </li>
                        <li class="day anim04c">
                            <span></span>
                        </li>
                    </ul>
                    <li class="clock minute anim04c">
                        <span></span>
                    </li>
                    <li class="calendarNormal date2 anim04c">
                        <span></span>
                    </li>
                </div>
                <div class="signboard left inner anim04c">
                    <li class="clock hour anim04c">
                        <span></span>
                    </li>
                    <li class="calendarNormal day2 anim04c">
                        <span></span>
                    </li>
                </div>
                <div class="signboard right inner anim04c">
                    <li class="clock second anim04c">
                        <span></span>
                    </li>
                    <li class="calendarNormal month2 anim04c">
                        <span></span>
                    </li>
                </div>
            </div>
            <a href="/calendar" class="calendar_btn">Добавить событие</a>
        </div>

        <h1 class="hello">Приветствуем, <p th:text="${username}"></p></h1>

        <a href="/websocket_chat" class="btn_start_message">Начать общаться</a>
    </div>

    <script th:src="@{/user/home_page.js}"></script>
    <script th:src="@{/user/mini_calendar.js}"></script>
</body>
</html>