<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main_page.css}">
    <link rel="stylesheet" th:href="@{/login/login.css}">
</head>

<body>
<div class="header">Авторизация</div>

<div class="padding"></div>

<form method="post">
    <div class="login_div_flex">
        <label for="login">Логин</label>
        <input id="login" placeholder="Введите логин" name="login" class="input_login" required>
    </div>

    <div class="password_div_flex">
        <label for="password">Пароль</label>
        <input id="password" placeholder="Введите пароль" name="password" type="password" class="input_password" required>
    </div>

    <input type="submit" value="Авторизоваться" class="auth_btn">
</form>

<p class="info">Если у вас нет аккаунта <a th:href="registration">зарегистрируйтесь</a></p>
</body>
</html>