<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{/user/scrollbar_register.css}">
    <link rel="icon" th:href="@{/image/icons8-m-key-100.png}">
</head>

<body>
    <div class="flex">
        <div class="logo"></div>

        <div class="buttons">
            <div class="button BtnLinkRegistration">
                <div class="text_button">Регистрация</div>
            </div>

            <div class="button BtnLinkAuthorization">
                <div class="text_button">Авторизация</div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="no_auth">Админка, пользователь, чаты (доступ, админка управление чатами, история сообщений)</div>
        <div class="no_auth">Групповые чаты</div>
        <div class="no_auth font_size_3">Дублирование сообщений в Telegram, WhatsApp и VK</div>
        <div class="no_auth font_size_4">Простой пользователь имеет возможность: профиль(увидеть информацию о себе и изменить её), настройки</div>
        <div class="no_auth">Пользователь имеет возможность отправить файл менее или равное 3 мегабайт (в системе у файла автоматически рассчитывается размер)</div>
        <div class="no_auth">Подтверждение отправки и прочтения сообщения</div>
        <div class="no_auth">Сохранение сообщений (в любое время можно изменить сообщение)</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/user/WebSocket/WebSocketPages.js}"></script>
    <script th:src="@{/user/main_page/main_page.js}"></script>
</body>
</html>