<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main_page.css}">
    <link rel="stylesheet" th:href="@{/registration/registration.css}">
</head>

<body>
    <div class="header">Регистрация</div>

    <div class="padding"></div>

    <form method="post" enctype="multipart/form-data">
        <div class="login_div_flex">
            <label for="login">Логин</label>
            <input id="login" placeholder="Придумайте логин" type="text" class="login" name="login">
        </div>
    
        <div class="password_div_flex">
            <label for="password">Пароль</label>
            <input id="password" type="password" placeholder="Придумайте пароль свой пароль" class="password" name="password" required>
        </div>
    
        <div class="repeatePassword_div_flex">
            <label for="repeat_password">Повторите пароль</label>
            <input id="repeat_password" type="password" placeholder="Повторите придуманный пароль" class="repeat_password" name="RepeatPassword" required>
        </div>
    
        <div class="telephone_div_flex">
            <label for="telephone">Номер телефона</label>
            <input id="telephone" placeholder="Введите свой номер телефона" type="tel" class="enter_tel" name="NumberPhone" required>
        </div>
    
        <div class="email_div_flex">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Введите свой email" name="email" class="enter_email" required>
        </div>
    
<!--        <div class="icon_upload_profile_div_flex">-->
<!--            <label for="icon_profile" class="icon_profile_label">Загрузить аватарку</label>-->
<!--            <input id="icon_profile" name="image_profile" type="file" class="upload_icon_profile" required hidden="hidden">-->

<!--            <div class="icon_profile"></div>-->
<!--        </div>-->

            <div class="form-group">
                <input type="file" name="avatar" accept="image/*" class="form-control-file">
            </div>
    
        <button type="submit" class="registration_user" value="Зарегистрироваться">Зарегистрироваться</button>
    </form>

    <p class="info_auth">Если вы уже имеете аккаунт <a th:href="login">авторизуйтесь</a></p>

    <script>
        let icon_profile = document.querySelector('.upload_icon_profile')
        icon_profile.addEventListener('change', () => {
            let name_file = icon_profile.files[0].name
            let type_file = icon_profile.files[0].type
            let list_file = document.querySelector('.icon_profile')
            console.log(name_file)
            console.log(type_file)
            list_file.innerHTML=`
                <div class="name_file">Имя файла - ${name_file}</div>
                <div class="type_file">Тип файла - ${type_file}</div>
            `
        })
    </script>
    <script data-require="jquery" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>