<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" th:href="@{main_age.css}">
</head>

<body>
    <div class="header">registration</div>

    <label for="login">Login</label>
    <input id="login" type="text" class="login" name="login">

    <label for="password">Password</label>
    <input id="password" type="password" class="password" name="password">

    <label for="repeat_password">Repeat password</label>
    <input id="repeat_password" type="password" class="repeat_password" name="repeat_password">

    <label for="telephone">Telephone</label>
    <input id="telephone" type="tel" class="enter_tel" name="telephone">

    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Enter email" class="enter_email">

    <label for="icon_profile"></label>
    <input id="icon_profile" type="file" class="upload_icon_profile">

    <input type="submit" class="registration_user" value="Зарегистрироваться">
</body>
</html>