<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main_page.css}">
    <link rel="stylesheet" th:href="@{/registration/registration.css}">
    <link rel="stylesheet" th:href="@{user/scrollbar_register.css}">
</head>

<body>
    <div class="header">
        <p>Регистрация</p>
    </div>

    <div class="padding"></div>

    <form method="post" enctype="multipart/form-data">
        <div class="border">
            <div class="login_div_flex">
                <label class="label_input" for="login">Логин</label>
                <input id="login" placeholder="Придумайте логин" type="text" class="login" name="login">
            </div>
        </div>

        <div class="border">
            <div class="password_div_flex">
                <label class="label_input" for="password">Пароль</label>
                <input id="password" type="password" placeholder="Придумайте пароль свой пароль" class="password" name="password" required>
            </div>
        </div>

        <div class="border">
            <div class="repeatePassword_div_flex">
                <label class="label_input" for="repeat_password">Повторите пароль</label>
                <input id="repeat_password" type="password" placeholder="Повторите придуманный пароль" class="repeat_password" name="RepeatPassword" required>
            </div>
        </div>

        <div class="border">
            <div class="form-group">
                <div class="label_input">Аватарка</div>
                <label for="ava_profile" class="send_icon_profile">Прикрепить аватарку</label>
                <input id="ava_profile" type="file" name="avatar" accept="image/*" class="form-control-file">
            </div>
            <div class="icon_profile"></div>
            <div class="warning">
                <p>В файле не должно быть пробелов</p>
            </div>
        </div>
    
        <button type="submit" class="registration_user" value="Зарегистрироваться">Зарегистрироваться</button>
    </form>

    <p class="info_auth">Если вы уже имеете аккаунт <a th:href="login">авторизуйтесь</a></p>

    <script th:src="@{user/registration.js}"></script>
    <script data-require="jquery" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>