h1 {
    width: max-content;
}

.body, .body_1 {
    padding: 10px;
    width: 300px;
    justify-content: space-between;
    margin: auto;
}

.burger_menu {
    margin-bottom: 20px;
    position: fixed;
    z-index: 9999;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 5px;
}

.calendar-day-hover:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px bisque;
    border: 2px solid aquamarine;
}

.LightPre {
    color: black;
}

.dark-month-picker {
    background: black;
}

.height {
    height: 69px;
}

.WindowAddEvent {
    display: none;
    padding: 10px 20px;
}

.month-list > div > div:hover {
    box-shadow: 0 0 10px bisque;
}

.None768px {
    display: none;
}

.none {
    display: none;
}

.block {
    display: block;
}

@media (min-width: 768px) {
    .body_1, .body {
        width: 97%;
    }

    .None768px {
        display: block;
        margin-left: 330px;
    }
}

@media (min-width: 1024px) {
    .body_1, .body {
        width: 64%;
        margin-left: 333px;
    }

    .height {
        display: none;
    }
}