.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn_delete_account {
    margin-top: 10px;
}

.label_text {
    width: 239px;
    height: 50px;
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #0D1C2E;
    padding: 20px;
}

.body_1, .body {
    margin: auto;
}

@media (min-width: 768px) {
    .none_content {
        display: block;
        margin-left: 300px;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
}

@media (min-width: 1024px) {
    .content {
        margin-left: 180px;
    }
}