<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Календарь</title>
    <link rel="stylesheet" th:href="@{user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{user/main_page.css}">
    <link rel="stylesheet" th:href="@{user/calendar/calendar.css}">
    <link rel="stylesheet" th:href="@{/user/calendar/VisualCalendar.css}">
    <link rel="icon" th:href="@{image/main_page/icon_calendar.png}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="light">
    <div class="header">
        <div class="info_user">
            <div class="min_size_window"></div>
            <div class="image_profile"></div>
            <div class="username_div">
                <p class="username" th:text="${username}"></p>
                <div class="btn_up"></div>
            </div>
        </div>

        <div class="links">
            <a href="/" class="link withOutSlash">
                <div class="home_icon"></div>
                <div class="name_link">Дом</div>
            </a>

            <a href="/websocket_chat" class="link withOutSlash">
                <div class="icon_chats"></div>
                <div class="name_link chat_link">Чаты</div>
            </a>

            <a href="/contacts" class="link withOutSlash">
                <div class="icon_contacts"></div>
                <div class="name_link">Контакты</div>
            </a>

            <a href="/rings" class="link withOutSlash">
                <div class="icon_rings"></div>
                <div class="name_link">Уведомления</div>
            </a>

            <div class="link start_page">
                <div class="this_page"></div>
                <div class="icon_calendar"></div>
                <div class="name_link">Календарь</div>
            </div>

            <a href="/settings" class="link withOutSlash">
                <div class="icon_settings"></div>
                <div class="name_link">Настройки</div>
            </a>
        </div>

        <form class="delete_account" method="get" action="/logout">
            <input type="submit" class="btn_delete_account" value="Выйти из аккаунта">
        </form>
    </div>

    <div class="body">
        <div class="burger_menu"></div>
        <div class="calendar">
            <div class="calendar-header">
                <span class="month-picker" id="month-picker">
                    February
                </span>
                <div class="year-picker">
                    <span class="year-change" id="prev-year">
                        <pre><</pre>
                    </span>
                    <span id="year">2021</span>
                    <span class="year-change" id="next-year">
                        <pre>></pre>
                    </span>
                </div>
            </div>

            <div class="calendar-body">
                <div class="calendar-week-day">
                    <div>Понедельник</div>
                    <div>Вторник</div>
                    <div>Среда</div>
                    <div>Четверг</div>
                    <div>Пятница</div>
                    <div>Суббота</div>
                    <div>Воскресенье</div>
                </div>

                <div class="calendar-days">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                </div>
            </div>

            <div class="calendar-footer">
                <div class="AddEvent">Добавить событие</div>
            </div>

            <div class="month-list"></div>
        </div>
    </div>

    <script th:src="@{/user/calendar/Calendar.js}"></script>
    <script th:src="@{/user/calendar/VisualCalendar.js}"></script>
</body>
</html>