<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chats</title>
    <link rel="stylesheet" th:href="@{main_page.css}">
    <link rel="stylesheet" th:href="@{user/chats.css}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <div class="all_message"></div>

    <form method="post" class="form_send_message">
        <input name="message_send" type="text" class="input_message" placeholder="Написать сообщение..." required>
        <input type="submit" class="send_message_btn" placeholder="Отправить">
    </form>

    <script>
        fetch('http://localhost:8080/all_message',{
            headers: new Headers({
                'Content-Type': 'application/json'
            }),
            mode: "cors"
        })
            .then(response => response.json())
            .then((data) => console.log(data.forEach((item) => {
                let all_message = document.querySelector('.all_message');
                all_message.innerHTML+=`
                    <div class="content">
                        <div class="message_border">
                            <div class="message_text">${item.message}</div>
                            <span class="author_text">${item.author}</span>
                        </div>

                        <div class="form_delete_message">
                            <input type="submit" class="delete_message_input" value="Удалить сообщение">
                        </form>
                    </div>
                `
                let form_delete_message = document.querySelectorAll('.form_delete_message')
                for (let form_delete_message_1 of form_delete_message) {
                    form_delete_message_1.addEventListener('click', () => {
                        fetch(`http://localhost:8080/delete_message/${item.id}`, {
                            method: 'delete',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            mode: "cors"
                        })
                            .catch(err => {console.log(err)})
                            .then(res => {
                                console.log(res)
                            })
                            // .then(() => {window.location.reload()})
                    })
                }
            })));
    </script>
</body>
</html>