<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" th:href="@{user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{user/main_page.css}">
    <link rel="stylesheet" th:href="@{user/contacts/contacts.css}">
    <link rel="icon" th:href="@{image/main_page/icon_contacts.png}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <div class="header">
    <div class="min_size_window"></div>
    <div class="info_user">
        <div class="image_profile"></div>
        <div class="username_div">
            <p class="username" th:text="${username}"></p>
            <div class="btn_up"></div>
        </div>
    </div>

    <div class="links">
        <a href="/" class="link withOutSlash">
            <div class="home_icon"></div>
            <div class="name_link">Дом</div>
        </a>

        <a href="/websocket_chat" class="link withOutSlash">
            <div class="icon_chats"></div>
            <div class="name_link chat_link">Чаты</div>
        </a>

<!--        <div class="link start_page">-->
<!--            <div class="this_page"></div>-->
<!--            <div class="icon_contacts"></div>-->
<!--            <div class="name_link">Контакты</div>-->
<!--        </div>-->

        <a href="/rings" class="link withOutSlash">
            <div class="icon_rings"></div>
            <div class="name_link">Уведомления</div>
        </a>

<!--        <a href="/settings" class="link withOutSlash">-->
<!--            <div class="icon_settings"></div>-->
<!--            <div class="name_link">Настройки</div>-->
<!--        </a>-->
    </div>

    <form class="delete_account" method="get" action="/logout">
        <input type="submit" class="btn_delete_account" value="Выйти из аккаунта">
    </form>
</div>

    <div class="body">
        <div class="burger_menu"></div>

        <div class="btn_nav_contacts">
            <div class="btn_nav_contact btn_all_contacts">Все контакты</div>
            <div class="btn_nav_contact btn_all_my_contacts">Мои контакты</div>
        </div>

        <div class="all_contacts visible">
            <h1>Все контакты</h1>
            <div class="contacts list_chats"></div>
        </div>

        <div class="all_my_contacts">
            <h1>Мои контакты</h1>
            <div class="list_my_contacts"></div>
        </div>
    </div>

    <div class="chat_user_user">
        <div class="close_window close_window_1"></div>
        <div class="tools">
            <div class="btn_tools_chat"></div>
            <form id="messageForm" enctype="multipart/form-data" name="messageForm">
                <input type="text" id="message" autocomplete="off" placeholder="Сообщение.." class="input_message form-control">
                <button type="submit" class="send_message primary"></button>
            </form>
            <div class="smile"></div>
        </div>
    </div>

    <script th:src="@{/user/contacts/HomePageContacts.js}"></script>
    <script th:src="@{/user/AllMyContacts.js}"></script>
    <script th:src="@{/user/contacts/contacts.js}"></script>
</body>
</html>