<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Уведомления</title>
    <link rel="stylesheet" th:href="@{user/main_page/main_page.css}">
    <link rel="stylesheet" th:href="@{user/main_page.css}">
    <link rel="stylesheet" th:href="@{user/rings/rings.css}">
    <link rel="icon" th:href="@{image/main_page/icon_rings.png}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <div class="header" id="Header">
        <div class="min_size_window"></div>
        <div class="info_user">
            <div class="image_profile"></div>
            <div class="status"></div>
            <p class="ImageProfilePBlock"></p>
            <div class="username_div">
                <p class="username" th:text="${username}"></p>
                <div class="btn_up"></div>
            </div>
        </div>

        <div class="links">
            <a href="/" class="link withOutSlash">
                <div class="home_icon"></div>
                <div class="name_link">Дом</div>
            </a>

            <a href="/websocket_chat" class="link withOutSlash">
                <div class="icon_chats"></div>
                <div class="name_link chat_link">Чаты</div>
            </a>

            <div class="link start_page">
                <div class="this_page"></div>
                <div class="icon_rings"></div>
                <div class="name_link">Уведомления</div>
            </div>
        </div>

        <form class="delete_account" method="get" action="/logout">
            <input type="submit" class="btn_delete_account" value="Выйти из аккаунта">
        </form>
    </div>

    <div class="body">
        <div class="burger_menu"></div>

        <div class="CloseWindowRequest" id="CloseWindowRequest"></div>

        <div class="BtnHeader">
            <div class="RequestChat">Запросы</div>

            <div class="AllRequest">Все</div>
            <div class="BtnGetSendAccessOffer">Отправленные</div>
            <div class="BtnGetSendAccessOfferCheck">Принятые</div>
            <div class="BtnGetSendAccessOfferCancel">Отменённые</div>
        </div>

        <div class="ContentAllRequestChat">
            <h1>Все Запросы на доступ в чат</h1>

            <div class="ListRequest"></div>
        </div>

        <div class="ContentSentRequestChat">
            <h1>Отправленные Запросы в чат</h1>

            <div class="ListSentRequest"></div>
            <div class="ListSentRequestMe"></div>
        </div>

        <div class="ContentCheckRequestChat">
            <h1>Принятые Запросы в чат</h1>
            <div class="ListCheckRequest"></div>
        </div>

        <div class="ContentMessageFromChat">
            <h1>Сообщение из чатов</h1>
        </div>

        <div class="ContentEventMessage">
            <h1>События из календаря</h1>
        </div>

        <div class="ContentCancelRequestChat">
            <h1>Отменённые запросы</h1>
            <div class="ListCancelRequest"></div>
        </div>

        <div class="ErrorConnect">Соединение...</div>
    </div>

    <script th:src="@{/chat_websocket/js/sockjs.js}"></script>
    <script th:src="@{/chat_websocket/js/stomp_min.js}"></script>
    <script th:src="@{/user/WebSocket/WebSocketPages.js}"></script>
    <script th:src="@{/user/rings/GetCancelChat.js}"></script>
    <script th:src="@{/user/rings/RingsPage.js}"></script>
    <script th:src="@{/user/rings/script.js}"></script>
</body>
</html>