.label_page {
    width: max-content;
    height: 91px;
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #0D1C2E;
}

.close_add_users {
    display: none;
}

.btn_create_chat {
    width: max-content;
    height: 60px;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: #FFF;
}

.btn_create_chat:hover {
    background: #FFF;
    color: black;
}

.text_create_chat {
    width: 200px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    /*color: #FFFFFF;*/
}

.image_plus {
    width: 24px;
    height: 24px;
    background: url("../image/plus.png") no-repeat, black;
    background-size: 24px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

.flex-content {
    display: flex;
    flex-direction: column;
}

.label_search {
    width: 268px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 0 10px blueviolet;
    margin: 30px auto;
    padding-left: 20px;
    display: block;
    border-radius: 20px;
    outline: none;
}

.window_create_chat, .border_users {
    display: none;
}

.window_create_chat, .border_users {
    display: none;
    box-shadow: 0 0 10px blue;
    margin: 30px auto 0;
    border-radius: 30px;
    width: 85vW;
    padding: 15px;
}

.close_window, .close_add_users {
    width: 50px;
    height: 50px;
    background: url("../../image/main_page/open_min_window.png") no-repeat, #FFF;
    background-size: 50px;
    box-shadow: 0 0 10px burlywood;
    border-radius: 10px;
    border: 3px solid bisque;
    cursor: pointer;
}

.id {
    display: none;
}

.close_window:hover, .close_add_users:hover {
    box-shadow: none;
}

.flex-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.name_chat {
    border: 2px solid blanchedalmond;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px blanchedalmond;
}

.name_chat:hover {
    box-shadow: none;
}

.visible {
    display: block;
}

.none {
    display: none;
}

.create_chat {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px aqua;
    margin: 10px auto;
}

.create_chat:hover {
    box-shadow: none;
}

label {
    width: max-content;
    cursor: pointer;
}

.online, .offline {
    display: none;
}

.body_1 {
    display: none;
}

.user {
    display: flex;
    box-shadow: 0 0 5px blueviolet;
    border-radius: 10px;
    padding: 10px;
    gap: 15px;
    border: 2px solid blue;
    cursor: pointer;
}

.id {
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
}

.list_users {
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 190px;
    padding: 10px;
}

.user_image p {
    display: none;
}

input {
    outline: none;
    cursor: pointer;
}

.tick {
    box-shadow: 0 0 10px blue;
}

.name {
    align-items: center;
}

.chat {
    box-shadow: 0 0 10px blueviolet;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    gap: 10%;
    width: 88vW;
}

.list_chats, .list_my_chats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.body_chat {
    padding: 10px;
}

.content {
    width: 300px;
    margin: auto;
}

.body, .body_1 {
    width: 0;
    justify-content: space-between;
}

.tools {
    position: fixed;
    bottom: 0;
    align-items: center;
    background: azure;
    box-shadow: 0 0 10px aqua;
    padding: 10px;
    display: flex;
    width: 100%;
    gap: 15px;
}

.IdChat {
    display: none;
}

.btn_tools_chat {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: url("../image/plus.png") no-repeat center, linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
    cursor: pointer;
    box-shadow: 0 0 10px brown;
    border: 2px solid #7CB8F7;
}

.btn_tools_chat:hover {
    box-shadow: 0 0 10px burlywood;
    background: url("../image/plus.png") no-repeat center, cadetblue;
}

.input_message {
    border: 2px solid blanchedalmond;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px blanchedalmond;
    width: 63%;
    outline: 2px solid cyan;
}

.input_message:hover {
    box-shadow: 0 0 10px cyan;
}

.smile {
    width: 40px;
    height: 40px;
    background: url("../image/smile.png") no-repeat center, beige;
    background-size: 24px;
    cursor: pointer;
    border: 2px solid bisque;
    border-radius: 50%;
    box-shadow: 0 0 10px burlywood;
}

.smile:hover {
    box-shadow: 0 0 10px bisque;
    border: 2px solid beige;
}

.send_message {
    width: 35px;
    height: 30px;
    background: url("../image/send_message.png") no-repeat center, linear-gradient(325.78deg, #0c0c0d 14.76%, #7CB8F7 87.3%);
    background-size: 15px;
    padding: 5px;
    border-radius: 100%;
    border: 2px solid #606097;
    box-shadow: 0 0 10px #606097;
    cursor: pointer;
}

.send_message:hover {
    box-shadow: 0 0 10px cadetblue;
}

.flex_content_chat_top_tools {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 95%;
}

.border_name_chat {
    padding: 10px;
    background: antiquewhite;
    box-shadow: 0 0 10px antiquewhite;
    border-radius: 10px;
    border: 2px solid lavenderblush;
    display: flex;
    align-items: center;
}

.message {
    padding: 10px;
    box-shadow: 0 0 10px lightblue;
    margin: 30px auto 10px;
    border-radius: 10px;
}

.delete_message {
    width: 24px;
    height: 24px;
    background: url("../image/icon_delete_message.png") no-repeat center, #FFF;
    background-size: 24px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #ededed;
    box-shadow: none;
}

.delete_message:hover {
    box-shadow: 0 0 10px #ededed;
}

.edit_message {
    width: 24px;
    height: 24px;
    background: url("../image/icon_edit_message.png") no-repeat center, #FFF;
    background-size: 24px;
    box-shadow: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #ededed;
}

.edit_message:hover {
    box-shadow: 0 0 10px #ededed;
}

.share_message {
    width: 24px;
    height: 24px;
    background: url("../image/icon_share_messsage.png") no-repeat center, #FFF;
    background-size: 24px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #ededed;
}

.share_message:hover {
    box-shadow: 0 0 10px #ededed;
}

.tools_message {
    display: flex;
    justify-content: start;
    gap: 5%;
    margin-top: 20px;
}

.red {
    border: 1px solid red;
}

li {
    display: inline;
}

.height {
    height: 45px;
}

#messageForm {
    align-items: center;
    display: flex;
    gap: 17px;
    width: 100%;
}

.chat {
    cursor: pointer;
}

.chat:hover {
    box-shadow: 0 0 8px blueviolet;
    border: 2px solid blueviolet;
}

.list_chat {
    margin-bottom: 70px;
}

.btn_down_1 {
    position: fixed;
    bottom: 119px;
    right: 16px;
    background: url("../image/icon_down.png") no-repeat center, #FFF;
    padding: 10px;
    box-shadow: 0 0 10px #a7acd2;
    border-radius: 100%;
    background-size: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn_down_1:hover {
    box-shadow: 0 0 10px bisque;
}

.btn_up_1 {
    position: fixed;
    bottom: 119px;
    right: 16px;
    background: url("../image/icon_down.png") no-repeat center, #FFF;
    padding: 10px;
    box-shadow: 0 0 10px;
    border-radius: 100%;
    background-size: 25px;
    width: 30px;
    height: 30px;
    rotate: 180deg;
}

.buttons_nav_chats {
    display: flex;
    margin-top: 33px;
    justify-content: space-around;
    gap: 10px;
}

.btn_nav_chat {
    padding: 10px;
    background: beige;
    border: 2px solid bisque;
    border-radius: 10%;
    cursor: pointer;
}

.btn_nav_chat:hover {
    box-shadow: 0 0 10px bisque;
}

.btn_nav_chat_checked {
    box-shadow: 0 0 10px bisque;
}

.content_all_chat, .content_all_my_chat {
    display: none;
}

.image {
    width: 60px;
}

.image_chat_open_settings {
    width: 300px;
    margin: auto;
}

.border_name_chat {
    cursor: pointer;
}

.border_name_chat:hover {
    box-shadow: none;
}

.window_settings_chat {
    display: none;
}

.close_window_3 {
    margin-bottom: 30px;
    position: fixed;
}

.btn_change_icon {
    padding: 10px;
    background: beige;
    box-shadow: 0 0 10px bisque;
    margin-top: 30px;
    border: 2px solid bisque;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.btn_change_icon:hover {
    background: #FFF;
}

.owner_chat {
    display: flex;
    flex-direction: column;
    background: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
}

.span {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.window_edit_message {
    justify-content: center;
    display: none;
    box-shadow: 0 0 10px burlywood;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.input_edit_message {
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px burlywood;
}

.save_edit_message, .cancel_edit_message {
    padding: 10px;
    border-radius: 10px;
    background: antiquewhite;
    box-shadow: 0 0 10px cadetblue;
}

.image_settings_open {
    display: block;
}

.user_chat_open_settings {
    margin-top: 25px;
}

.window_add_file {
    display: none;
    flex-direction: column;
    gap: 40px;
    background: aliceblue;
    padding: 10px;
    box-shadow: 0 0 10px burlywood;
    border-radius: 10px;
}

.btn_add_just_file, .btn_add_just_file {
    padding: 10px;
    background: antiquewhite;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px burlywood;
    cursor: pointer;
    border: 2px solid gainsboro;
}

.btn_add_just_file:hover, .btn_add_just_file:hover {
    background: aliceblue;
    box-shadow: none;
}

.btn_close_add_file {
    width: 50px;
    height: 50px;
    background: url("../../image/main_page/open_min_window.png") no-repeat, #FFF;
    background-size: 50px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    border: 3px solid bisque;
    cursor: pointer;
}

.btn_close_add_file:hover {
    box-shadow: none;
}

.tools_start {
    display: flex;
    gap: 55px;
    padding: 10px;
    margin-top: 20px;
}

.btn_delete_chat {
    padding: 10px;
    background: red;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px red;
    border: 2px solid red;
}

.btn_delete_chat:hover, .btn_change_name_chat:hover {
    background: #FFF;
    color: black;
    box-shadow: none;
}

.btn_change_name_chat {
    padding: 10px;
    background: blue;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px blue;
    border: 2px solid blue;
}

.window_edit_name_chat {
    display: none;
    padding: 10px;
    background: aliceblue;
    border: 2px solid bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px navajowhite;
}

.change_name_chat {
    padding: 10px;
    background: aliceblue;
    border: 2px solid bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
}

.tools_edit_message {
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 30px;
}

.btn_save_change_name {
    padding: 10px;
    background: cornsilk;
    border: 2px solid bisque;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px aquamarine;
}

.btn_cancel_change_name_chat {
    padding: 10px;
    background: #f48181;
    border: 2px solid #de4a4a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #f30101;
    cursor: pointer;
    color: #FFF;
}

.btn_cancel_change_name_chat:hover {
    background: #FFF;
    box-shadow: none;
    color: black;
}

.btn_save_change_name:hover {
    background: #FFF;
    box-shadow: none;
}

.LinkChat {
    padding: 10px;
    background: aliceblue;
    padding-bottom: 10px;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    border: 2px solid beige;
    color: blue;
    cursor: pointer;
}

.LinkChat:hover {
    text-decoration: 2px solid blue underline;
}

.UserDiv {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px burlywood;
    border-radius: 10px;
    padding: 10px;
}

.CopyBtnChat {
    padding: 10px;
    background: powderblue;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid bisque;
    border-radius: 10px;
    margin: 30px auto;
    cursor: pointer;
    box-shadow: 0 0 10px burlywood;
}

.CopyBtnChat:hover {
    background: #FFF;
}

.link_image {
    padding: 10px;
    background: antiquewhite;
    border: 2px solid bisque;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    color: blue;
    cursor: pointer;
}

.file {
    background: antiquewhite;
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
}

.BtnSendFile {
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px navajowhite;
}

.link_image:hover {
    text-decoration: 2px solid blue underline;
}

.TimeStampShort {
    text-align: right;
    color: gainsboro;
    margin-top: 10px;
}

.MessageListNull {
    margin-top: 35px;
    text-align: center;
    background: aliceblue;
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
}

.ImageMessageNull {
    height: 100px;
    background: url("../../chat_websocket/image/MessageNo.png") no-repeat center;
    background-size: 100px;
    margin: 10px auto;
    box-shadow: 0 0 10px beige;
    border: 2px solid bisque;
    border-radius: 10px;
    width: 50%;
}

.visible {
    display: block;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.PermissionDenied {
    display: none;
}

.CloseWindowPermissionDenied {
    width: 50px;
    height: 50px;
    background: url("../../image/main_page/open_min_window.png") no-repeat, #FFF;
    background-size: 50px;
    box-shadow: 0 0 10px burlywood;
    border-radius: 10px;
    border: 3px solid bisque;
    cursor: pointer;
}

.AccessToSent {
    padding: 20px;
    background: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    border: 2px solid beige;
    margin: 10px 20px;
}

.AccessDeleteToChat {
    margin: 20px 20px;
    padding: 10px 20px;
    background: red;
    color: #FFF;
    border: 2px solid red;
    border-radius: 10px;
    width: max-content;
    cursor: pointer;
    box-shadow: 0 0 10px red;
}

.AccessDeleteToChat:hover {
    color: black;
    box-shadow: none;
    background: #FFF;
}

.ImageChat {
    display: block;
    height: 300px;
    width: 284px;
    border: 2px solid beige;
    padding: 10px 7px;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    cursor: pointer;
    margin: 30px auto 60px;
}

.ImageChat:hover {
    box-shadow: 0 0 10px;
}

.owner {
    display: none;
}

.CloseWindowPermissionDenied:hover {
    box-shadow: none;
}

.PermissionDenied h1 {
    width: max-content;
    padding: 20px;
}

.CloseWindowPermissionDenied {
    display: none;
}

@media (min-width: 768px) {
    .image_settings_open {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .window_create_chat {
        box-shadow: 0 0 10px blue;
        margin: 30px auto 0;
        border-radius: 30px;
        padding: 15px;
        width: 93vW;
    }

    .border_users {
        box-shadow: 0 0 10px blue;
        margin: 30px auto 0 auto;
        border-radius: 30px;
        width: 115vh;
        padding: 15px;
    }

    .user:hover {
        box-shadow: 0 0 10px blue;
    }

    .flex-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90vW;
    }

    .label_search {
        width: 94vW;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0 0 10px blueviolet;
        margin: 30px auto;
        padding-left: 20px;
        display: block;
        border-radius: 20px;
        outline: none;
    }

    .max_size_window {
        padding: 10px;
        width: 97vW;
        display: flex;
        justify-content: flex-end;
    }

    .label_page {
        width: 19VW;
    }

    .flex-content-new {
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 97vW;
    }

    .list_chats, .list_my_chats {
        gap: 20px;
        margin-top: 20px;
        width: max-content;
        display: grid;
        justify-content: center;
    }

    .chat_header_visible {
        width: 48vW;
    }

    .header_list_chats {
        width: 97vW;
    }

    .btn_create_chat {
        width: 35vW;
    }

    .content {
        width: max-content;
        margin-left: 30px;
    }

    .flex-content-new-burger-open {
        width: 94vW;
    }

    .header_list_chats_burger_open {
        width: 94vW;
        justify-content: flex-end;
        grid-template-columns: repeat(1, 0fr);
    }

    .chat_burger_open {
        width: 52vW;
    }

    .input_message {
        border: 2px solid blanchedalmond;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px blanchedalmond;
        width: 90%;
    }

    #messageForm {
        align-items: center;
        display: flex;
        gap: 17px;
        width: 85%;
    }

    .red {
        border: 1px solid red;
        box-shadow: 0 0 10px red;
    }

    .ButtonsNavChatsHeaderOpened {
        display: flex;
        margin-top: 33px;
        justify-content: space-evenly;
        gap: 10px;
        margin-left: 180px;
    }

    .h1HeaderOpened {
        margin-left: 300px;
    }

    .OneChatBlock {
        margin-left: 300px;
    }

    .list_users_open_settings {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .image_chat_open_settings {
         margin: 0;
    }

    .ImageChat {
        width: 600px;
        height: 600px;
    }

    .none {
        display: none;
    }

    .visible {
        display: block;
    }
}

@media (min-width: 1024px){
    .body {
        width: 125vh;
        display: flex;
        justify-content: flex-end;
    }

    .window_create_chat {
        box-shadow: 0 0 10px blue;
        margin: 30px auto 0;
        border-radius: 30px;
        padding: 15px;
        margin-left: 333px;
        width: 62vW;
    }

    .flex-content {
        flex-direction: row;
        align-items: center;
        width: 47vW;
        margin: auto;
    }

    .content {
        width: 70vh;
        margin-left: 322px;
    }

    .list_chats, .list_my_chats {
        width: max-content;
        justify-content: left;
    }

    .chat {
        width: 60vW;
    }

    .close_window_new {
        margin-left: 333px;
    }

    .list_users_open_settings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .none {
        display: none;
    }

    .visible {
        display: block;
    }
}